/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

h5 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 0;
  bottom: 0;
}

img{
  position: absolute;
  max-width: 110px;
  max-height: 110px;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 20%;
}

.module {
  position: relative;
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  color: #eee;
  min-height: 120px;
  min-width: 120px;
  border-radius: 2px;
  transition: 0.2s ease;
}

.module:hover {
  cursor: pointer;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  
  .module {
    min-width: 60px;
  }
}